@model List<SaleDTO>

@{
    Layout = null;
}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Data</th>
            <th scope="col">Status</th>
            <th scope="col">Numero Documento</th>
            <th scope="col">Valor</th>
            <th scope="col">CPF</th>
            <th scope="col">Visualizar</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var aux in @Model){
            <tr>
                <th scope="row">@aux.Id</th>
                <th scope="row">@aux.CreationDate</th>
                <th scope="row">
                    @Html.Raw( @aux.Completed == true ? "Completo" : "Incompleto")
                </th>
                <th scope="row">@aux.DocumentNumber</th>
                <th scope="row">@aux.NetAmount</th>
                <th scope="row">@aux.TaxId</th>
                <th>
                    <button class="btn btn-default" id="myBtn">
                        Buscar<span class="glyphicons glyphicons-search"></span>
                    </button>
                </th>
            </tr>
        }
    </tbody>
</table>

<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div> 
    </div>
  </div>
</div>

<span class="glyphicons glyphicons-search"></span>

<script>
$(document).ready(function(){
    $("#myBtn").click(function(){
        $.ajax({
            type: 'POST',
            url: "SearchProducts",
            data: {taxId: $("#taxId").val(),netAmount:$("#netAmount").val()},
            success: function(data) {
                console.log(data);
            }
        });
        $("#myModal").modal();

    });
});
</script>



