@model List<SaleDTO>

<div class="pt-md-3 pb-md-4">
    <h1>Consultar transação</h1>
</div>
    <form>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="taxId">CPF</label>
                <input name="cpf" type="text" class="form-control" id="taxId" maxlength="14" placeholder="CPF">
            </div>
            <div class="form-group col-md-4">
                <label for="netAmount">Valor</label>
                <input  class="form-control" id="netAmount" placeholder="Valor">
            </div>
        </div>
        <button type="button" id="btnProcurar" class="btn btn-primary">Buscar</button>
        <div class="card-body tablePartial"></div>
    </form>
  <!-- <fieldset class="form-layout">
    <legend>Title</legend>
    <input type="radio" id="radio"> <label for="radio">Click me</label>
  </fieldset> -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ERRO!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body message">
        
      </div>
    </div>
  </div>
</div>  
<script>
    $(document).ready(function () {

        $('#taxId').mask('000.000.000-00', {reverse: true});
        $('#netAmount').mask('0.000,00', {reverse: true});

        $("#btnProcurar").on("click", function () {
            var taxId = 
            $.ajax({
                type: 'POST',
                url: "Search",
                data: {taxId: $("#taxId").val().replace(/[^\d]+/g,''),netAmount:$("#netAmount").val().replace( "." , "")},
                success: function(data) {
                    $(".tablePartial").html(data);
                },
                error: function(mensagem){
                    $(".message").append(mensagem.responseText);
                    $('#exampleModal').modal('show')
                }
            });
        });

        function maskCpf(el){

        }
    });
</script>