<div class="pt-md-3 pb-md-4">
    <h1>Cancelar Transação</h1>
</div>
<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="taxId">CPF</label>
            <input name="cpf" type="text" class="form-control" id="taxId" maxlength="14" placeholder="CPF">
        </div>
        <div class="form-group col-md-6">
            <label for="netAmount">Valor total da compra</label>
            <input  class="form-control" id="amount " placeholder="Valor">
        </div>
        <div class="form-group col-md-12">
            <h3>PRODUTOS</h3>
        </div>
        <div class="form-group col-md-6">
            <label>Barcode</label>
            <input  class="form-control" id="barcode">
        </div>
        <div class="form-group col-md-6">
            <label >Quantidade de produtos</label>
            <input  class="form-control" id="quantity" >
        </div>
        <div class="form-group col-md-6">
            <label >Valor do produto</label>
            <input  class="form-control" id="price">
        </div>
        <div class="form-group col-md-6">
            <label >Desconto</label>
        <input  class="form-control" id="discount">
        </div>
    </div>
    <button type="button" id="btnEnviar" class="btn btn-primary">Buscar</button>
    <div class="card-body tablePartial"></div>
</form>

<script>
    $(document).ready(function () {
        var taxId = $("#taxId").val();
        var amount = $("#amount").val();
        //informações produtos
        var barcode  = $("#barcode").val();
        var quantity = $("#quantity").val();
        var price = $("#price").val();
        var discount = $("#discount").val();



        $("#btnEnviar").on("click", function(){
            var payload = [{taxId:taxId,amount:amount,barcode:barcode,quantity:quantity,price:price,discount:discount}  ]
            console.log(payload)
        })
    });
</script>