@model ClientMerchantsSellerCommissionDTO

<div class="pt-md-3 pb-md-4">
    <h1>Habilitar/Desabilitar campanha R$0,50</h1>
</div>
<form>
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="merchantId">Codigo EC</label>
            <input name="merchantId" type="text" class="form-control" id="merchantId" maxlength="5" placeholder="Codigo">
        </div>
    </div>
    <button type="button" id="btnConsult" class="btn btn-success">Buscar</button>
</form>
<div class="form-row">
    <div class="form-group col-md-8">
        <label>Nome</label>
        <input disabled class="form-control">
    </div>
    <div class="form-group col-md-4">
        <label>Codigo</label>
        <input disabled class="form-control">
    </div>
    <div class="form-group col-md-4">
        <label>Cidade</label>
        <input disabled class="form-control">
    </div>
    <div class="form-group col-md-4">
        <label>Telefone</label>
        <input disabled class="form-control">
    </div>
    <div class="form-group col-md-2">
        <label style="width: 100%;">Campanha 0,50</label>
        <input id="toggle-event" checked type="checkbox" >
        <div id="console-event"></div>
    </div>
    <div class="form-group col-md-12">
        <button type="button" id="btnSalve" class="btn btn-success">Salvar</button>
    </div>
</div>
<script>
$(document).ready(function () {

    $("#btnConsult").on("click", function () {
        var merchantId = $("#merchantId").val()
        $.ajax({
            method: 'POST',
            url:'ConsultCommission',
            data: {merchantId:merchantId },
            success: function(data) {

            },
            error: function(mensagem){

            }
        });
    });

    $(function() {
        $('#toggle-event').bootstrapToggle({
            on: 'Ativado',
            off: 'Desativado'
        });
    })


    $(function() {
        $('#toggle-event').change(function() {
            $('#console-event').html('Toggle: ' + $(this).prop('checked'))
        })
    })
});
</script>