﻿@{
    ViewData["Title"] = "Home Page";
}
    <div class="index-welcome">
        <h1>Bem-Vindo ao Suporte It!</h1>
        <h3>Esse sistema foi criado com fins de auxiliar a TI a solucionar os tickets, selecione o time referente e realize operações para solucionar os problemas.</h3>
    </div>