﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - support_it.Web</title>

    <link href="~/css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
</head>
<body>
	<div class="container-fluid">
        <div class="row flex-xl-nowrap">
            <div class="col-12 col-md-4 col-xl-2 bd-sidebar" id="sidebar-menu">
                <div class="logo">
                    <img src="~/images/beblue.png">
                </div>
                <nav class="navbar navbar-expand-lg row">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-store"></i>
                                    Marketplace
                                </a>
                                <div class="dropdown-menu dropdown-view">
                                    <a class="dropdown-item" href="~/ClientMerchantsSellerCommission/Index">Habilitar/Desabilitar R$0,50</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-shopping-cart"></i>
                                    PDV
                                </a>
                                <div class="dropdown-menu dropdown-view">
                                    <a class="dropdown-item" href="~/Pdv/Consult">Consultar transação</a>
                                    <a class="dropdown-item" href="~/Pdv/Insert">Inserir transação</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-money-check-alt"></i>
                                    Portal
                                </a>
                                <div class="dropdown-menu dropdown-view">
                                    <a class="dropdown-item" href="~/Portal/AccessPortal">Acesso colaborador</a>
                                    <a class="dropdown-item" href="~/Portal/AccessEC">Acesso EC</a>                                         
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
                <script src="https://code.jquery.com/jquery-3.3.1.js"  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="  crossorigin="anonymous"></script><div class="col-12 col-md-8 col-xl-10 bd-sidebar" id="content-page">
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.js"></script>
                <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
                @RenderBody()
            </div>
        </div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
