<div class="pt-md-3 pb-md-4">
    <h1>Acesso Admin</h1>
</div>
    <form>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="email">E-mail</label>
                <input name="email" type="email" class="form-control" id="email" placeholder="E-mail">
            </div>
        </div>
        <button type="button" id="btnInsert" class="btn btn-primary">Inserir</button>
    </form>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Atenção!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body message">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>  

<script>   
    $(document).ready(function () {
        
        $("#email").focusout(function(){
            var email = $("#email").val();
            if (!validaEmail(email)) {
                $(".message").empty();
                $(".message").append("O e-mail inserido não está em um formato valido!");
                $('#exampleModal').modal('show')
            } 
        });


        function validaEmail(email) {
            var regex = (/^([\w-]+(?:\.[\w-]+)*)@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/);
            return regex.test(email);
        }


        $("#btnInsert").on("click", function () {
            var email = $("#email").val()
            if (validaEmail(email)) {
                $.ajax({
                    method: 'POST',
                    url:'Insert',
                    data: {email:email },
                    success: function(data) {
                        if(data){
                            $(".message").empty();
                            $(".message").append("E-mail cadastrado com sucesso!");
                            $('#exampleModal').modal('show')
                        }else{
                            $(".message").empty();
                            $(".message").append("esse e-mail já possui um cadastro!");
                            $('#exampleModal').modal('show')
                        }
                    },
                    error: function(mensagem){
                        $(".message").empty();
                        $(".message").append("ERRO");
                        $('#exampleModal').modal('show')
                    }
                });
            }else
            {
                $(".message").empty();
                $(".message").append("Insira um e-mail valido!");
                $('#exampleModal').modal('show')
            }

        });
    });
</script>