<div class="pt-md-3 pb-md-4">
    <h1>Deletar acesso do EC</h1>
</div>
<form>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="email">E-mail</label>
            <input name="email" type="text" class="form-control" id="emailEc" placeholder="E-mail">
        </div>
    </div>
    <button type="button" id="btnDelete" class="btn btn-primary">Deletar</button>
</form>


<script>
    $(document).ready(function () {

        $("#email").focusout(function(){
            var email = $("#email").val();
            if (!validaEmail(email)) {
                $(".message").empty();
                $(".message").append("O e-mail inserido não está em um formato valido!");
                $('#exampleModal').modal('show')
            } 
        });


        function validaEmail(email) {
            var regex = (/^([\w-]+(?:\.[\w-]+)*)@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/);
            return regex.test(email);
        }


        $("#btnDelete").on("click", function () {
            var email = $("#emailEc").val()
            if (validaEmail(email)){
                $.ajax({
                    method: 'POST',
                    url:'DeleteAccessEc',
                    data: {email:email },
                    success: function(data) {
                        $(".message").empty();
                        $(".message").append("Usuario do ec deletado!");
                        $('#exampleModal').modal('show')
                    },
                    error: function(mensagem){
                        $(".message").empty();
                        $(".message").append("ERRO");
                        $('#exampleModal').modal('show')
                    }
                });
            }
        });
    });
</script>