/*
	Project: Support-It
	Description: Folha de estilo para personalização.
	Developers: Lucas Coelho, Lucas Galone
*/
img {
    width: 100%;
}
.logo {
    text-align: center;
}
.logo img {
    max-width: 300px;
}
a {
    font-size: 16px;
}
div#navbarNav .navbar-nav {
    display: block;
    width: 100%;
}
.dropdown-menu.dropdown-view.show {
    position: inherit!important;
}
.index-welcome a {
    font-size: 18px;
    margin: 5px;
}
div#sidebar-menu {
    background-color: #1b1b1b;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.logo {
    padding: 30px 0px 20px 0px;
    border-bottom: 1px solid #b9b9b9a6;
}
.navbar .navbar-nav li.menu-item-has-children.show .sub-menu {
    max-height: 1000px;
    opacity: 1;
    position: static !important;
}
li.menu-item-has-children .sub-menu {
    background: #272c33;
    border: none;
    box-shadow: none;
    overflow-y: hidden;
    padding: 0 0 0 35px;
}
.dropdown-menu.dropdown-view.show {
    position: relative;
    background: #fff0;
    border: 0px;
}
.dropdown-menu.dropdown-view.show a {
    color: white;
}
.dropdown-menu.dropdown-view.show a:hover {
    background-color: #0068c5;
}
div#navbarNav ul li a i {
    width: 22%;
}
nav.navbar.navbar-expand-lg.row {
    padding-top: 10%;
}
ul.navbar-nav li {
    line-height: 1.6;
    width: 100%;
}
ul.navbar-nav li a {
    color: #e8e8e8;
}
.dropdown-menu.dropdown-view.show a {
    color: darkgrey;
}
.index-welcome {
    text-align: center;
    padding: 8%;
}
.index-welcome h1 {
    font-size: 50px;
    color: #0068c5;
}
.index-welcome h2 {
    padding-top: 40px;
    padding-bottom: 15px;
}

fieldset.form-layout {
    border: 1px solid #000;
    padding: 20px!important;
}
fieldset legend {
    width: 250px;
}